<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo_white.png">
    <title>CTD Details</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/styles.css">
    

</head>
<body class="flex flex-col bg-blue-900">

  <!-- Navbar -->
  

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark lg:h-32 lg:rounded-b-full" id="navbar" style="position: absolute; top: 0; width: 100vw; z-index: 2; ">
    <div class="container-fluid">
      <a class="navbar-brand pl-32" href="/">TINXSYS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  lg:ml-24" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " id="dealerFormNav" href="/dealerForm">Dealer/Form Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/loginCTD">Login CTD/GSTN Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.tinxsys.com/TinxsysInternetWeb/statisticsDashboard.jsp">TINXSYS Data Statistics</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">About TINXSYS</a></li>
              <li><a class="dropdown-item" href="#">About CST</a></li>
              <li><a class="dropdown-item" href="#">About TIN</a></li>
              <li><a class="dropdown-item" href="#">About GSTN</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Links</a></li>
              <li><a class="dropdown-item" href="#">Reports</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.tinxsys.com/TinxsysInternetWeb/statisticsDashboard.jsp">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="flex flex-row justify-between mb-1 mt-8 pt-28">
    <div class="btn-group w-96 ml-4" role="group" aria-label="Basic example">
      <!-- Active	Locked User	Expiry User	Custom 									 -->

      <button type="button" class="btn btn-primary" id="activeBtn">Active</button>
      <button type="button" class="btn btn-primary" id="lockedBtn">Locked User</button>
      <button type="button" class="btn btn-primary" id="expiryUserBtn">Expiry User</button>
    </div>
    <form class="d-flex mr-4">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success btn-secondary text-black" type="submit">Search</button>
    </form>
  </div>
  <div class="mx-3 card">
  <table class="table table-light  card">
    <thead>
      <tr>
        	<!-- Login Id	Password							Validity	Active State	Lock State	Action 	Action -->

        <th scope="col">Name</th>
        <th scope="col">Login Id</th>
        <th scope="col">Password</th>
        <th scope="col">Expires In</th>
        <th scope="col">Validity</th>
        <th scope="col">Active State</th>
        <th scope="col">Lock State</th>
        <th scope="col">Action</th>
        <th scope="col">Action </th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0;i<result.length;i++) { %>

      <tr id="row_<%= i %>">
        <% const oneDay = 24 * 60 * 60 * 1000; %>
          
          <% const firstDate = new Date(result[i].validityDate.setDate(result[i].validityDate.getDate()+1))%>
          <% const secondDate = new Date() %>
          
         <% let diffDays = Math.round(Math.abs((firstDate - secondDate) / oneDay));%>
        <td scope="col"><%= result[i].firstName+" "+result[i].middleName+" "+result[i].lastName %></td>
        <td scope="col" id="loginId_<%= i%>"><%= result[i].loginId %></td>
        <td scope="col"><%= result[i].loginPassword %></td>
        <td scope="col" id="expiryUser_<%= i %>" <% if(firstDate - secondDate <= 15){ %>
                        class="text-red-500" 
                      <% }  else{%>
                        
                      <% } %>
        >
        <% if(firstDate - secondDate<=0){ %>
          <% diffDays= "Expired" %>
        <% }  else{%>
         <% diffDays= diffDays +" days left" %>
        <% } %>
        <%= diffDays %></td>
        <td scope="col"><input type="date" id="validityDate_<%= i%>" value="<%= firstDate.toISOString().split('T')[0] %>"></td>
        <td scope="col"><select id="activeStateValue_<%= i%>">
          <% if(result[i].activeState){ %>
            <option value="1">Active </option>
            <option value="0">Inactive </option>
                        <% }  else{%>
            <option value="0">Inactive </option>
            <option value="1">Active </option>
                        <% } %>
        </select>
        </td>
        <td scope="col" id="lockedUser_<%= i%>"><% if(firstDate - secondDate<=0){ %>
                        Locked 
                      <% }  else{%>
                        Not Locked
                      <% } %>
        </td>
        <td scope="col" class="text-green-700  cursor-pointer" id="update_<%= i%>">Update</td>
        <td scope="col" class="text-blue-500 cursor-pointer" id="delete_<%= i%>"><% if(result[i].deleted==0){ %>
          Delete 
        <% }  else{%>
          Undo Delete
        <% } %> </td>
      </tr>

    <% } %>
      
    </tbody>
  </table>
</div>
  <script>
    let length=parseInt('<%= result.length %>');
    for(var i=0;i< length; i++ ){
      document.getElementById(`delete_${i}`).addEventListener('click',(event)=>{
        var j=event.target.id.substr(event.target.id.indexOf('_')+1,event.target.id.length);
        // console.log(j)
        // document.getElementById(`loginId_${j}`).innerHTML
        let deleteData;
        if(document.getElementById(`delete_${j}`).innerHTML=='Delete'){
          deleteData=1;
        }
        else
        deleteData=0;

        fetch('/deleteLoginId',{
                        method: 'POST', 
                        headers: {
                          'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({loginId:document.getElementById(`loginId_${j}`).innerHTML,deleteData:deleteData}),
                    }).then(res=>res.json()).then(result=>{
                      // console.log(result);
                      if(document.getElementById(`delete_${j}`).innerHTML=='Delete'){
                        document.getElementById(`delete_${j}`).innerHTML='Undo Delete';
                      }
                      else
                      document.getElementById(`delete_${j}`).innerHTML='Delete';
        })
      })

      document.getElementById(`update_${i}`).addEventListener('click',(event)=>{
        var j=event.target.id.substr(event.target.id.indexOf('_')+1,event.target.id.length);

        fetch('/updateLoginId',{
                        method: 'POST', 
                        headers: {
                          'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({loginId:document.getElementById(`loginId_${j}`).innerHTML,activeState:document.getElementById(`activeStateValue_${j}`).value,validityDate:document.getElementById(`validityDate_${j}`).value}),
                    }).then(res=>res.json()).then(result=>{
                      // console.log(result);
                      if(document.getElementById(`update_${j}`).innerHTML=='Update'){
                        document.getElementById(`update_${j}`).innerHTML='Updated';
                      }
                      // else
                      // document.getElementById(`update_${j}`).innerHTML='Delete';
        })
      })

      
    }

    document.getElementById('activeBtn').addEventListener('click',()=>{
        // console.log('clicked');
        for(var i=0;i< length ;i++){
        if(!parseInt(document.getElementById(`activeStateValue_${i}`).value)){
          // console.log('hide');
          document.getElementById(`row_${i}`).classList.toggle('hidden');
        }
        }
      })

    document.getElementById('lockedBtn').addEventListener('click',()=>{
        // console.log('clicked');
        for(var i=0;i< length ;i++){
        if(document.getElementById(`lockedUser_${i}`).innerHTML=='\n                        Not Locked\n                      \n        '){
          // console.log('hide');
          document.getElementById(`row_${i}`).classList.toggle('hidden');
        }
        }
      })

    document.getElementById('expiryUserBtn').addEventListener('click',()=>{
        // console.log('clicked');
        for(var i=0;i< length ;i++){
          // console.log(document.getElementById(`expiryUser_${i}`).innerHTML);
        if(!(document.getElementById(`expiryUser_${i}`).innerHTML=='\n        \n          \n        \n        Expired')){
          // console.log('hide');
          document.getElementById(`row_${i}`).classList.toggle('hidden');
        }
        }
      })

  </script>
      
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>